# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs and debug files
*.log
*.pot
*.pid
*.gz

# Environment files
*.env

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# DVC cache and metadata
.dvc/
*.dvc

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Data and session files
data/
*.csv
*.tsv
*.tmp
*.txt
*.session
*.session-journal

# Model artifacts or weights
notebooks/DistilBERT_ner_model/
notebooks/DistilBERT_ner_model_final/
notebooks/XLM-Roberta_ner_model/
notebooks/XLM-Roberta_ner_model_final/
notebooks/mBERT_ner_model/
notebooks/mBERT_ner_model_final/
notebooks/models/
